<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Minimarket.Presentacion.Properties.Settings.cn" connectionString="Data Source=DESKTOP-QRHGLSN;Initial Catalog=BD_MINIMARKET;User ID=sistemasAdmin;Password=sistemas12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>